<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naver</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header class="header">
        <a class="header_menu" href="">
            <span class="menu-img"></span>
        </a>
        <div class="header_mydataWrap">
            <a class="mydata_" href="">
                <span class="mydata pay"></span>
            </a>
            <a class="mydata_" href="">
                <span class="mydata alram"></span>
            </a>
            <a class="mydata-button" href="">
                <span class="btn"></span>
            </a>
        </div>
    </header>

    <section class="contents">
        <div class="searchbarWrap">
            <div class="searchbar-bg">
                <div class="searchbar">
                    <div class="searchbar-inner">
                        <a class="logo-a" href="">
                            <span class="logo-span"></span>
                        </a>
                        <form>
                            <div class="sch_input-wrap">
                                <input class="sch_input" type="text" placeholder="검색어를 입력해주세요.">
                            </div>
                        </form>
                        <div class="sch_button-wrap">
                            <button class="sch_button">
                                <span class="button-img"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-btn-wrap">
            <ul class="btn-list">
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" src="https://s.pstatic.net/static/www/mobile/edit/20220303_0/upload_1646297330983vHTOQ.png">
                        <span class="item-span">뉴스판</span>
                    </a>
                </li>
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" alt="" class="shs_service_m ICON" onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';" src="https://s.pstatic.net/static/www/mobile/edit/20220303_0/upload_1646297388698pQsov.png">
                        <span class="item-span">쇼핑판</span>
                    </a>
                </li>
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" alt="" class="shs_service_m ICON" onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';" src="https://s.pstatic.net/static/www/mobile/edit/2021/0426/upload_16194098613516y6da.png">
                        <span class="item-span">경제지표판</span>
                    </a>
                </li>
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" alt="" class="shs_service_m ICON" onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';" src="https://s.pstatic.net/static/www/mobile/edit/2021/0426/upload_161940990062833vIT.png">
                        <span class="item-span">스포츠판</span>
                    </a>
                </li>
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" alt="" class="shs_service_m ICON" onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';" src="https://s.pstatic.net/static/www/mobile/edit/2020/0319/mobile_19411917574.png">
                        <span class="item-span">메일</span>
                    </a>
                </li>
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" alt="" class="shs_service_m ICON" onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';" src="https://s.pstatic.net/static/www/mobile/edit/2020/0319/mobile_191015178706.png">
                        <span class="item-span">카페</span>
                    </a>
                </li>
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" alt="" class="shs_service_m ICON" onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';" src="https://s.pstatic.net/static/www/mobile/edit/2020/0319/mobile_181505455420.png">
                        <span class="item-span">블로그</span>
                    </a>
                </li>
                <li class="btn-item">
                    <a class="item-a" href="">
                        <img width="44" height="44" alt="" class="shs_service_m ICON" onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';" src="https://s.pstatic.net/static/www/mobile/edit/2021/0427/upload_1619497854375Q53rw.png">
                    </a>
                </li>
            
            </ul>
        </div>

        <div class="banner-wrap">
            <span class="banner-span">
                <img src="https://ssl.pstatic.net/tveta/libs/1374/1374990/b3e82a8cb4f9491468cf_20220310152828220_2.png" alt="마켓컬리 품절주의 첫구매 98% 할인 백산수 500ml 20개 8,490원에서 100원" style="display: block;width: calc(100% + 18px);max-width:375px;border:none;position: relative;left: 50%;transform: translate3d(-50%, 0, 0);">
            </span>
        </div>
        
        <div class="weather-wrap">
            <a href="">
                <div class= "weather-contents">
                    <div class="weather-img">
                        <div class="cloud"></div>
                    </div>
                </div>
                <div class="weather-text">
                    <strong class="info_main"><em class="temp">7°</em> 비</strong>
                    <div class="info_sub">시간당 강수량 3.0 mm</div>
                </div>
                <button class="weather-button">
                    <span class="weather-buttonImg"></span>
                </button>
            </a>
            
        </div>
    </section>
    
</body>
</html>